[submodule "tools/polly"]
 	path = tools/polly
 	url = https://github.com/cpp-pm/polly
[submodule "tools/gate"]
 	path = tools/gate
 	url = https://github.com/cpp-pm/gate
[submodule "include/PicoSHA2"]
	path = include/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2